.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.plzWait{
  position: absolute;
  left: calc(50% - 350px);
  top:25%;
}

#loading{
  position: fixed;
  background-attachment: fixed;
}

#pet_list{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:20px;
  text-align:center;
}

#adopted_pet_info{
  background-color: blue;
  color: white;
  font-weight: bold;
  padding:5px;
  margin:0px 100px;
}

#account_info{
  background-color: blue;
  color: white;
  border: 5px solid white;
  font-weight: bold;
  padding: 10px;
  margin:0px 95px;
}

#pet_info{
  text-align: left;
  margin-left:15px;
}

